
/* Primary colors: */
/* Midnight Blue - #003B6D */
/* Blue Sky- #6699CC */

/* Secondary colors: */
/* Dim gray - #676767 */
/* Silver- #BDBDBD */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
	background-color:#003B6D !important;
}
		
header {
	background-color: white;
	width: 100%;
	height: 200px; 
	background-image: url('../images/bannerPic.PNG');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	position: relative;
}

.bg-body-tertiary {
	background-color:#6699CC !important;
}

.btn {
	background-color: #6699CC;
	color: #003B6D;
	border-color: #003B6D;
	border-width: 2px;
	padding: 3px 10px;
	font-weight: bold;
}

.btn:hover {
	background-color: #BDBDBD;
	color: #003B6D;
	border-color: #003B6D;
	border-width: 2px;
	padding: 3px 10px;
	font-weight: bold;
}

.containerSection {
	max-width: 99.5%;
	margin: 20px auto;
	border: 2px solid #ccc;
	overflow: hidden;
	background-color: #BDBDBD;
}

.contentL {
	float: left;
	width: 50%;
	padding: 80px;
	box-sizing: border-box;
}

.contentMid {
	max-width: 99.5%;
	margin: 20px auto;
	border: 2px solid #ccc;
	overflow: hidden;
	background-color: #BDBDBD;
	padding: 80px 80px;
}


#carouselExampleControls{
	float: left;
	padding:5px 80px;
}

.carousel-item{
	height:480px;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

.centerText{
	text-align: center;
}

.centerBtn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h3mid {
	text-align: center;
}

.card-body{
	background-color: #003B6D;
	color: #BDBDBD;
}


.centerUL {
	display: table;
	margin: 0 auto;
}


.imgHalfSize {
	width: 240px;
	height: auto;
}

.paddingTopSides{
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.card-footer {
	background-color: #676767;
}

.bg-dark {
	background-color: #6699CC !important;
	color: black !important;
}
@media screen and (max-width: 768px) {
	.contentL, #carouselExampleControls, .contentMid {
		padding: 20px;
		width: 100%;
		float: none;
	}
}


